---
name: Semgrep

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  schedule:
    - cron: "0 0 * * 0"
  workflow_dispatch:

permissions: {}

jobs:
  semgrep:
    permissions:
      # Required to read the repo
      contents: read
      # Required to upload the SARIF file to the security tab
      security-events: write
    runs-on: ubuntu-latest
    container:
      image: semgrep/semgrep # zizmor: ignore[unpinned-images] ok to use latest for infrastructure
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: Run Semgrep for PR
        if: ${{ github.event_name == 'pull_request' && github.event.pull_request.user.login != 'dependabot[bot]' }}
        shell: bash
        run: |
          set -euo pipefail
          IFS=$'\n\t'
          # Do not use --config r/all as it includes rules written by unknown authors
          semgrep ci --metrics=off --baseline-commit --code --error \
            --config p/apex \
            --config p/auto \
            --config p/brakeman \
            --config p/c-audit-banned-functions \
            --config p/c \
            --config p/ci \
            --config p/command-injection \
            --config p/comment \
            --config p/cpp-alpha-audit-banned-functions \
            --config p/cpp-alpha-audit \
            --config p/cpp-alpha-ci \
            --config p/cpp-audit \
            --config p/csharp-interfile \
            --config p/csharp \
            --config p/cwe-top-25 \
            --config p/deepsemgrep \
            --config p/default \
            --config p/django \
            --config p/docker-compose \
            --config p/docker \
            --config p/dockerfile \
            --config p/electron-desktop-app \
            --config p/elixir \
            --config p/expressjs \
            --config p/fastapi \
            --config p/findsecbugs \
            --config p/flask \
            --config p/gitleaks \
            --config p/golang \
            --config p/hapi \
            --config p/java \
            --config p/javascript \
            --config p/jwt \
            --config p/koa \
            --config p/kotlin \
            --config p/kubernetes \
            --config p/lockfiles \
            --config p/nestjs \
            --config p/nextjs \
            --config p/nodejs \
            --config p/ocaml \
            --config p/owasp-top-ten \
            --config p/php \
            --config p/phpcs-security-audit \
            --config p/python-alpha-ci \
            --config p/python \
            --config p/r2c-best-practices \
            --config p/r2c-bug-scan \
            --config p/r2c-ci \
            --config p/r2c-security-audit \
            --config p/r2c \
            --config p/react-best-practices \
            --config p/react-team-tier \
            --config p/react \
            --config p/replit-community \
            --config p/ruby-on-rails-xss \
            --config p/ruby \
            --config p/rust \
            --config p/scala \
            --config p/secrets-default \
            --config p/secrets \
            --config p/secure-defaults \
            --config p/security-audit \
            --config p/security-headers \
            --config p/semgrep-misconfigurations \
            --config p/semgrep-rule-ci \
            --config p/semgrep-rule-lints \
            --config p/semgrep-secrets-ai \
            --config p/shadow-ai-pro \
            --config p/shadow-ai \
            --config p/sql-injection \
            --config p/supply-chain \
            --config p/swift \
            --config p/terraform \
            --config p/test-pinned-version \
            --config p/typescript \
            --config p/xss
      - name: Run Semgrep for push
        if: ${{ github.event_name != 'pull_request' }}
        shell: bash
        run: |
          set -euo pipefail
          IFS=$'\n\t'
          # Do not use --config r/all as it includes rules written by unknown authors
          semgrep scan --metrics=off --sarif --sarif-output=semgrep-results.sarif \
            --config p/apex \
            --config p/auto \
            --config p/brakeman \
            --config p/c-audit-banned-functions \
            --config p/c \
            --config p/ci \
            --config p/command-injection \
            --config p/comment \
            --config p/cpp-alpha-audit-banned-functions \
            --config p/cpp-alpha-audit \
            --config p/cpp-alpha-ci \
            --config p/cpp-audit \
            --config p/csharp-interfile \
            --config p/csharp \
            --config p/cwe-top-25 \
            --config p/deepsemgrep \
            --config p/default \
            --config p/django \
            --config p/docker-compose \
            --config p/docker \
            --config p/dockerfile \
            --config p/electron-desktop-app \
            --config p/elixir \
            --config p/expressjs \
            --config p/fastapi \
            --config p/findsecbugs \
            --config p/flask \
            --config p/gitleaks \
            --config p/golang \
            --config p/hapi \
            --config p/java \
            --config p/javascript \
            --config p/jwt \
            --config p/koa \
            --config p/kotlin \
            --config p/kubernetes \
            --config p/lockfiles \
            --config p/nestjs \
            --config p/nextjs \
            --config p/nodejs \
            --config p/ocaml \
            --config p/owasp-top-ten \
            --config p/php \
            --config p/phpcs-security-audit \
            --config p/python-alpha-ci \
            --config p/python \
            --config p/r2c-best-practices \
            --config p/r2c-bug-scan \
            --config p/r2c-ci \
            --config p/r2c-security-audit \
            --config p/r2c \
            --config p/react-best-practices \
            --config p/react-team-tier \
            --config p/react \
            --config p/replit-community \
            --config p/ruby-on-rails-xss \
            --config p/ruby \
            --config p/rust \
            --config p/scala \
            --config p/secrets-default \
            --config p/secrets \
            --config p/secure-defaults \
            --config p/security-audit \
            --config p/security-headers \
            --config p/semgrep-misconfigurations \
            --config p/semgrep-rule-ci \
            --config p/semgrep-rule-lints \
            --config p/semgrep-secrets-ai \
            --config p/shadow-ai-pro \
            --config p/shadow-ai \
            --config p/sql-injection \
            --config p/supply-chain \
            --config p/swift \
            --config p/terraform \
            --config p/test-pinned-version \
            --config p/typescript \
            --config p/xss
          # FIXME workaround for https://github.com/semgrep/semgrep/issues/10834
          # Semgrep security-severity is a textual level but GitHub expects a numerical score.
          sed -i -e '\
            s/"security-severity":"None"/"security-severity":0.0/Ig; \
            s/"security-severity":"Info"/"security-severity":0.0/Ig; \
            s/"security-severity":"Low"/"security-severity":3.9/Ig; \
            s/"security-severity":"Medium"/"security-severity":6.9/Ig; \
            s/"security-severity":"High"/"security-severity":8.9/Ig; \
            s/"security-severity":"Critical"/"security-severity":10.0/Ig; \
            ' semgrep-results.sarif
      - name: Upload Semgrep scan results to GitHub Security tab
        if: ${{ github.event_name != 'pull_request' }}
        uses: github/codeql-action/upload-sarif@192325c86100d080feab897ff886c34abd4c83a3 # v3.29.5
        with:
          sarif_file: semgrep-results.sarif
